body{
  margin: 0;
}
.d_flex{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.justify_content_center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.align_items_center {
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;

}
nav{
  min-width: 230px;
  max-width: 230px;
  background: #4AAE74;
  color: #fff;
}
main{
  background: #4A84AE;
  width: 100%;
  padding: 20px 30px;
}
main p{
  font-family: sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: black;
}

.sidebar{
  padding: 0;
  margin: 20px 0 0;
}
.sidebar > .sidebar_item{
  list-style: none;
  width: 100%;
  height: 60px;
}

.sidebar > .sidebar_item:hover{
  background: #87F6B6;
  background: #3c624c;
}
.sidebar > .sidebar_item > a{
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.sidebar > .sidebar_item > a >img{
  width: 20px;
  height: 20px;
  margin-left: 40px;
  margin-right: 20px;
}
.sidebar > .sidebar_item > .tooltip_text{
  display: none;
}

